{% extends 'base.html' %}


{% block MAIN_CONTENT %}
<h4><a href="/author-create-classbv/">Добавить автора</a></h4>
<br>
<h5>Все авторы:</h5>


    <table class="table table-striped">
        <tr>
            <th>IDномер</th>
            <th>ФИО</th>
            <th>Биография</th>
            <th>Редактор</th>
            <th>Удаление</th>
        </tr>
        {% for obj in object_list %}
        <tr>
            <th>{{ obj.id }}</th>
            <th>{{ obj.name }}</th>
            <th><button type="button" class="btn btn-outline-info"><a href="/author-list-det-classbv/{{obj.id}}">Информация</a></button></th>
            <th><button type="button" class="btn btn-outline-success"><a href="/author-update-classbv/{{obj.id}}">Изменить</a></button></th>
            <th><button type="button" class="btn btn-outline-danger"><a href="/author-delete-classbv/{{obj.id}}">Удалить</a></button></th> 

        </tr>
        {% endfor %}
    </table>


{% endblock MAIN_CONTENT %}
