{% extends 'base.html' %}


{% block MAIN_CONTENT %}

    <h1>Подробности книги: {{ object.id }}, {{ object.title }} </h1>
    <br>
    <img src="{{ object.cover.url }}" alt="">
    <table class="table table-striped">
        <tr>
            <th>Название</th><th>{{ object.title }}</th>
        </tr>
        
        <tr>
            <th>Цена</th><th>{{ object.price }} BYN</th>
        </tr>
        <tr>
            <th>Автор</th><th>{{ object.author }}</th>
        </tr>
        <tr>
            <th>Серия</th><th>{{ object.series }}</th>
        </tr>
        <tr>
            <th>Жанр</th><th>{{ object.genre }}</th>
        </tr>
        <tr>
            <th>Год издания</th><th>{{ object.publication_year }}</th>
        </tr>
        <tr>
            <th>Количество страниц</th><th>{{ object.pages }}</th>
        </tr>
        <tr>
            <th>Переплет</th><th>{{ object.binding }}</th>
        </tr>
        <tr>
            <th>Формат</th><th>{{ object.format }}</th>
        </tr>
        <tr>
            <th>ISBN</th><th>{{ object.isbn }}</th>
        </tr>
        <tr>
            <th>Вес книги</th><th>{{ object.weight }} грамм</th>
        </tr>
        <tr>
            <th>Возврастные ограничения</th><th>{{ object.age_restrictions }}</th>
        </tr>
        <tr>
            <th>Издательство</th><th>{{ object.publisher }}</th>
        </tr>
        <tr>
            <th>Количество книг в наличии</th><th>{{ object.quantity_in_stock }}</th>
        </tr>
        <tr>
            <th>Доступен для заказа</th><th>{{ object.is_active }}</th>
        </tr>
        <tr>
            <th>Рейтинг книги</th><th>{{ object.rating }}</th>
        </tr>
        <tr>
            <th>Дата внесения в каталог</th><th>{{ object.date_added }}</th>
        </tr>
        <tr>
            <th>Дата последнего изменения карточки</th><th>{{ object.last_modified }}</th>          
        </tr>
    </table>      


{% endblock MAIN_CONTENT %}