{% extends 'base.html' %}


{% block MAIN_CONTENT %}

{% load group_tags %}

    <h1>Подробности книги:</h1>
    <br>
    <img src="{{ object.cover.url }}" class="img-thumbnail" alt="">
    <table class="table table-striped">
        <tr>
            <th>Название</th><th>{{ object.title }}</th>
        </tr>       
        <tr>
            <th>Цена</th><th>{{ object.price }} BYN</th>
        </tr>
        <tr>
            <th>Автор</th><th>{{ object.author }}</th>
        </tr>
        <tr>
            <th>Серия</th><th>{{ object.series }}</th>
        </tr>
        <tr>
            <th>Жанр</th><th>{{ object.genre }}</th>
        </tr>
        <tr>
            <th>Год издания</th><th>{{ object.publication_year }}</th>
        </tr>
        <tr>
            <th>Количество страниц</th><th>{{ object.pages }}</th>
        </tr>
        <tr>
            <th>Переплет</th><th>{{ object.binding }}</th>
        </tr>
        <tr>
            <th>Формат</th><th>{{ object.format }}</th>
        </tr>
        <tr>
            <th>Международный стандартный книжный номер (ISBN)</th><th>{{ object.isbn }}</th>
        </tr>
        <tr>
            <th>Вес книги</th><th>{{ object.weight }} грамм</th>
        </tr>
        <tr>
            <th>Возврастные ограничения</th><th>{{ object.age_restrictions }}</th>
        </tr>
        <tr>
            <th>Издательство</th><th>{{ object.publisher }}</th>
        </tr>
        <tr>
            <th>Количество книг в наличии</th><th>{{ object.quantity_in_stock }}</th>
        </tr>
        <tr>
            {% if object.is_active == True %}
            <th>Доступен для заказа</th><th>доступен</th>
            {% else %}
            <th>Доступен для заказа</th><th>не доступен</th>
            {% endif %}
        </tr>
        <tr>
            <th>Рейтинг книги</th><th>{{ object.rating }}</th>
        </tr>
        <tr>
            <th>Дата внесения в каталог</th><th>{{ object.date_added }}</th>
        </tr>
        <tr>
            {% if user.is_authenticated %}
                {% if user|has_group:"Managers" %}
                <th>Дата последнего изменения карточки</th><th>{{ object.last_modified }}</th>          
                {% else %}
                    
                {% endif %}
            {% endif %}       
            </tr>
    </table>      
    <br>   
<h3>Добавить в корзину:</h3>
    <form action="{% url "orders:add-item-to-cart" %}" method="post">
        {% csrf_token %}
    <input type="hidden" name="item_id" value="{{ object.id }}">
    <div class="mb-3">
        <label class="form-label">Количество:</label>
        <input type="number" name="quantity" class="form-control" step="1" min="1">
        <div class="form-text">Выберите количество</div>
      </div>
      <button type="submit" class="btn btn-outline-danger">Добавить</button>
    </form>
{% endblock MAIN_CONTENT %}