{% extends 'base.html' %}


{% block MAIN_CONTENT %}
<br>
<br>
{% load group_tags %}
{% if user.is_authenticated %}
    {% if user|has_group:"Managers" %}
    <h4><a href="{% url 'book_shop:book-create' %}">Добавить новую книгу</a></h4>  
    {% else %}
        <p>Вы авторизованный пользователь</p>
    {% endif %}
{% else %}
<p>Вы не авторизованный пользователь</p>
{% endif %}
       
<br>
<h5>Каталог книг:</h5>

    <table class="table table-striped">
        <tr>
            <th><center>Обложка</center></th>
            <th><center>Название</center></th>
            <th><center>Артикул</center></th>
            <th><center>Количество книг<br> в наличии</center></th>
            <th><center>Цена</center></th>
            <th><center>Рейтинг</center></th>
            <th><center></center></th>
            
        </tr>
        {% for obj in page_obj %}
        <tr>
            <th><center><img src="{{ obj.cover.url }}" class="img-thumbnail" alt=""></center></th>
            <th><center>{{ obj.title }}</center></th>
            <th><center>{{ obj.id }}</center></th>
            <th><center>{{ obj.quantity_in_stock }}</center></th>
            <th><center>{{ obj.price }} BYN</center></th>
            <th><center>{{ obj.rating }}</center></th>
            <th>   
                <div class="mb-1">   
            <button type="button" class="btn btn-outline-info"><a href="{% url 'book_shop:book-detail' obj.id %}">Подробности</a></button><br>
                </div>

            {% if user.is_authenticated %}
                {% if user|has_group:"Managers" %}
                <div class="mb-1">
                <button type="button" class="btn btn-outline-success"><a href="{% url 'book_shop:book-update' obj.id %}">Редактировать</a></button><br>
                </div>
                <div class="mb-1">
                <button type="button" class="btn btn-outline-danger"><a href="{% url 'book_shop:book-delete' obj.id %}">Удалить книгу</a></button>
                </div>
                {% else %}
                    
                {% endif %}
            {% endif %}

            <form action="{% url "orders:add-item-to-cart" %}" method="post">
                {% csrf_token %}
            <input type="hidden" name="item_id" value="{{ obj.id }}">
            <div class="mb-1">
                <label class="form-label">Выбрать</label>      
                <input type="number" required pattern name="quantity" placeholder="Количество:" class="form-control" step="1" min="1">         
              </div>
              <button type="submit" class="btn btn-outline-danger">В корзину</button>
            </form>
            <p>
            </th>


            
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; первый</a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущий</a>
            {% endif %}
    
            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">следующий</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">последний &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock MAIN_CONTENT %}  





    {% comment %} <table class="table table-striped">
        <tr>
            <th></th>
            <th>Книга</th>
            <th>Портфолио</th>
            {% if user.is_authenticated %}
                {% if user|has_group:"Managers" %}
                <th>Редактор</th>
                <th>Удаление</th>
                {% else %}
                    
            {% endif %}
            {% endif %}

        </tr>
        {% for obj in object_list %}
        <tr>
            <th><img src="{{ obj.cover.url }}" class="img-thumbnail" alt=""></th>
            <th>{{ obj.title }}</th>
            <th><button type="button" class="btn btn-outline-info"><a href="{% url 'book_shop:book-detail' obj.id %}">Информация</a></button></th>
            {% if user.is_authenticated %}
                {% if user|has_group:"Managers" %}
            <th><button type="button" class="btn btn-outline-success"><a href="{% url 'book_shop:book-update' obj.id %}">Изменить</a></button></th>
            <th><button type="button" class="btn btn-outline-danger"><a href="{% url 'book_shop:book-delete' obj.id %}">Удалить</a></button></th> 
                {% else %}
                    
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </table> {% endcomment %}


