{% extends 'base.html' %}


{% block MAIN_CONTENT %}
<br>
<br>
{% load group_tags %}
{% if user.is_authenticated %}
    {% if user|has_group:"Managers" %}
    <h4><a href="{% url 'book_shop:book-create' %}">Добавить новую книгу</a></h4>  
    {% else %}
        <p>Вы авторизованный пользователь</p>
    {% endif %}
{% else %}
<p>Вы не авторизованный пользователь</p>
{% endif %}

<br>       
<br>
<h5>Каталог книг:</h5>

    <table class="table table-striped">
        <tr>
            <th>Обложка</th>
            <th>Артикул</th>
            <th>Цена</th>
            <th>Рейтинг</th>
            <th>Описание</th>
            
        </tr>
        {% for obj in page_obj %}
        <tr>
            <th><img src="{{ obj.cover.url }}" class="img-thumbnail" alt=""></th>
            <th>{{ obj.id }}</th>
            <th>{{ obj.price }} BYN</th>
            <th>{{ obj.rating }}</th>
            <th>           
            <p>
            Название книги: {{ obj.title }}
            <br>
            <p>
            <button type="button" class="btn btn-outline-info"><a href="{% url 'book_shop:book-detail' obj.id %}">О книге и оформление покупки</a></button>
            <br>
            <p>
            {% if user.is_authenticated %}
                {% if user|has_group:"Managers" %}
                <button type="button" class="btn btn-outline-success"><a href="{% url 'book_shop:book-update' obj.id %}">Редактировать</a></button>
                <br>
                <p>
                <button type="button" class="btn btn-outline-danger"><a href="{% url 'book_shop:book-delete' obj.id %}">Удалить книгу</a></button>
            </th> 
                {% else %}
                    
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; первый</a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущий</a>
            {% endif %}
    
            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">следующий</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">последний &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock MAIN_CONTENT %}  





    {% comment %} <table class="table table-striped">
        <tr>
            <th></th>
            <th>Книга</th>
            <th>Портфолио</th>
            {% if user.is_authenticated %}
                {% if user|has_group:"Managers" %}
                <th>Редактор</th>
                <th>Удаление</th>
                {% else %}
                    
            {% endif %}
            {% endif %}

        </tr>
        {% for obj in object_list %}
        <tr>
            <th><img src="{{ obj.cover.url }}" class="img-thumbnail" alt=""></th>
            <th>{{ obj.title }}</th>
            <th><button type="button" class="btn btn-outline-info"><a href="{% url 'book_shop:book-detail' obj.id %}">Информация</a></button></th>
            {% if user.is_authenticated %}
                {% if user|has_group:"Managers" %}
            <th><button type="button" class="btn btn-outline-success"><a href="{% url 'book_shop:book-update' obj.id %}">Изменить</a></button></th>
            <th><button type="button" class="btn btn-outline-danger"><a href="{% url 'book_shop:book-delete' obj.id %}">Удалить</a></button></th> 
                {% else %}
                    
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </table> {% endcomment %}


