{% extends 'base.html' %}


{% block MAIN_CONTENT %}

<div class="header-container">
    <div class="top-link">
        <div class="container">
            <div class="row-fluid">
                <div class="logo-container span2">
                    <br>
                    <span class="logo"><strong><h3>Vitrina.by - книжный Интернет-магазин в Минске с доставкой по всей Беларуси</h3></strong></span>
                    
                </div>
                <div class="span15 link-left">                   
                    <ul class="phones">
                    <li>A1:<span class="phone-number desktop">+375 29 123 45 67</span></li>
                    <li>МТС: <span class="phone-number desktop">+375 33 123 45 67</span></li>
                    <li>Life: <span class="phone-number desktop">+375 25 123 45 67</span></li>
                    </ul>                
                </div>
                    <div class="span14 link-right">
                        <ul class="links">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'user:logout' %}">Выход из профиля</a></li>
                        {% else %}
                        <li><a href="{% url 'user:registration' %}">Регистрация нового пользователя</a></li>
                        <li><a href="{% url 'user:login_entrance' %}">Войти в свой профиль</a></li>
                        {% endif %}
                        <br>
                        <li><a href="{% url 'orders:view-cart' %}">Моя корзина</a></li>
                        <li><a href="{% url 'book_shop:search' %}">Поиск книг</a></li>
                        </ul>
                            <div class="welcome-msg">Вы наконец заглянули к нам в поисках доброй пары-тройки книг? Мы бесконечно рады! 
                                Приветствуем, дорогой читатель, в книжном интернет-магазине vitrina.by.
                                У нас для вас много книг. Для самых разных людей.</div>
                    </div>
            </div>
        </div>
    </div>

    <div>
        <br>
        <span class="logo"><strong><h2><font color='blue'>Наши подборки для вас:</font></h2></strong></span>
        <br>        
        {% load group_tags %}
        <span class="logo"><strong><h3><font color='red'>Новинки книг!</font></h3></strong></span>       
            {% newest_items %}    
        <br>     
        <br>
        <span class="logo"><strong><h3><font color='red'>Старинные книги!</font></h3></strong></span>  
            {% oldest_items %}
    </div>    

</div>


{% endblock MAIN_CONTENT %}
