<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Жанр</th>
            <th>Подробности</th>
            <th>Изменить серию</th>
            <th>Удалить серию</th>
        </tr>
        {% for obj in object_list %}
        <tr>
            <th>{{ obj.id }}</th>
            <th>{{ obj.name }}</th>
            <th><a href="/genre-list-det-classbv/{{obj.id}}">перейти</a></th>  
            <th><a href="/genre-update-classbv/{{obj.id}}">перейти</a></th> 
            <th><a href="/genre-delete-classbv/{{obj.id}}">перейти</a></th>
        </tr>
        {% endfor %}
    </table>

    <h2>Добавить:</h2>
    <a href="/genre-create-classbv/">Жанр</a><br>
</body>
</html>