<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ object.id }}</title>
</head>
<body>
<h1>Жанр {{object.id}}</h1>
<ul>
    <li><b>жанр</b>: {{ object.name }}</li>

</ul>

{% if object.genres.all %}
    <h2>Книги этого жанра:</h2>
    {% for book in object.genres.all %}
        <ul>
            <li>{{ book.title }}</li>
        </ul>     
    {% endfor %}
{% else %}
<h3>Нет книг этого жанра</h3>

{% endif %}
    
<a href="/genre-create-classbv/">Добавить жанр</a>

  
</body>
</html>