{% extends 'base.html' %}


{% block MAIN_CONTENT %}

{% if user.is_authenticated %}
{{ user }}
<br>
<h4><a href="{% url 'book_shop:series-create' %}">Добавить новую серию</a></h4>
{% endif %}
<br>
<h5>Все серии:</h5>

    <table class="table table-striped">
        <tr>
            <th>IDномер</th>
            <th>Серия</th>
            <th>Подробности</th>
            {% if user.is_authenticated %}
            <th>Редактор</th>
            <th>Удалить</th>
            {% endif %}
        </tr>
        {% for obj in object_list %}
        <tr>
            <th>{{ obj.id }}</th>
            <th>{{ obj.title }}</th>
            <th><button type="button" class="btn btn-outline-info"><a href="{% url 'book_shop:series-detail' obj.id %}">Информация</a></button></th>
            {% if user.is_authenticated %}
            <th><button type="button" class="btn btn-outline-success"><a href="{% url 'book_shop:series-update' obj.id %}">Изменить</a></button></th>
            <th><button type="button" class="btn btn-outline-danger"><a href="{% url 'book_shop:series-delete' obj.id %}">Удалить</a></button></th> 
            {% endif %}
        </tr>
        {% endfor %}
    </table>

                
{% endblock MAIN_CONTENT %}