{% extends 'base.html' %}


{% block MAIN_CONTENT %}

<h4><a href="/series-create-classbv/">Добавить новую серию</a></h4>
<br>
<h5>Все серии:</h5>

    <table class="table table-striped">
        <tr>
            <th>IDномер</th>
            <th>Серия</th>
            <th>Подробности</th>
            <th>Редактор</th>
            <th>Удалить</th>
        </tr>
        {% for obj in object_list %}
        <tr>
            <th>{{ obj.id }}</th>
            <th>{{ obj.title }}</th>
            <th><button type="button" class="btn btn-outline-info"><a href="/series-list-det-classbv/{{obj.id}}">Информация</a></button></th>
            <th><button type="button" class="btn btn-outline-success"><a href="/series-update-classbv/{{obj.id}}">Изменить</a></button></th>
            <th><button type="button" class="btn btn-outline-danger"><a href="/series-delete-classbv/{{obj.id}}">Удалить</a></button></th> 

        </tr>
        {% endfor %}
    </table>

                
{% endblock MAIN_CONTENT %}