{% extends 'base.html' %}


{% block MAIN_CONTENT %}


<h1>Привет!</h1>
<br>
<br>

{% if user.is_authenticated %}   
    <h1>{{ user }}</h1>
    <th><button type="button" class="btn btn-outline-info"><a href="{% url 'user:logout' %}">Выход из профиля</a></button></th>
    <th><button type="button" class="btn btn-outline-info"><a href="{% url 'user:profile-detail' %}">Просмотр профиля</a></button></th>
{% else %}
    <th><button type="button" class="btn btn-outline-info"><a href="{% url 'user:registration' %}">Регистрация нового пользователя</a></button></th>
    <th><button type="button" class="btn btn-outline-info"><a href="{% url 'user:login_entrance' %}">Войти в свой профиль</a></button></th>


{% endif %}



{% endblock MAIN_CONTENT %}
