{% extends 'base.html' %}


{% block MAIN_CONTENT %}

{% if user.is_authenticated %} 
<br>
<br>
<h1>Вы авторизованный пользователь: {{ user }} </h1>
<br>
<br>
    <th><button type="button" class="btn btn-outline-info"><a href="{% url 'user:logout' %}">Выход из профиля</a></button></th>
    <th><button type="button" class="btn btn-outline-info"><a href="{% url 'user:profile-detail' %}">Просмотр профиля</a></button></th>

{% else %}
<br>
<br>
<h1>Вы не авторизованный пользователь.</h1>
<br>
<br>
    <th><button type="button" class="btn btn-outline-info"><a href="{% url 'user:registration' %}">Регистрация нового пользователя</a></button></th>
    <th><button type="button" class="btn btn-outline-info"><a href="{% url 'user:login_entrance' %}">Войти в свой профиль</a></button></th>


{% endif %}
<th><button type="button" class="btn btn-outline-info"><a href="{% url 'orders:cart-order-list' %}">Просмотр заказа</a></button></th>


{% endblock MAIN_CONTENT %}
