<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="title" maxlength="200" required><br>
    <select name="author" id="">       
        {% for author in authors %}
        <option value="{{ author.pk }}">{{ author.name }}</option>
        {% endfor %}
    </select><br>
    <button type="submit">save</button>


</form>   
        
</body>
</html>
