<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
</head>
<body>
    <h1>Книга {{ object.id }} подробности:</h1>
    <table border="1">
        <tr>
            <th>title</th><th>{{ object.title }}</th>
        </tr>
        <tr>
            <th>price</th><th>{{ object.price }}</th>
        </tr>
        <tr>
            <th>author</th><th>{{ object.author }}</th>
        </tr>
        <tr>
            <th>series</th><th>{{ object.series }}</th>
        </tr>
        <tr>
            <th>genre</th><th>{{ object.genre }}</th>
        </tr>
        <tr>
            <th>publication_year</th><th>{{ object.publication_year }}</th>
        </tr>
        <tr>
            <th>pages</th><th>{{ object.pages }}</th>
        </tr>
        <tr>
            <th>binding</th><th>{{ object.binding }}</th>
        </tr>
        <tr>
            <th>format</th><th>{{ object.format }}</th>
        </tr>
        <tr>
            <th>isbn</th><th>{{ object.isbn }}</th>
        </tr>
        <tr>
            <th>weight</th><th>{{ object.weight }}</th>
        </tr>
        <tr>
            <th>age_restrictions</th><th>{{ obj.age_restrictions }}</th>
        </tr>
        <tr>
            <th>publisher</th><th>{{ object.publisher }}</th>
        </tr>
        <tr>
            <th>quantity_in_stock</th><th>{{ object.quantity_in_stock }}</th>
        </tr>
        <tr>
            <th>is_active</th><th>{{ object.is_active }}</th>
        </tr>
        <tr>
            <th>rating</th><th>{{ object.rating }}</th>
        </tr>
        <tr>
            <th>date_added</th><th>{{ object.date_added }}</th>
        </tr>
        <tr>
            <th>last_modified</th><th>{{ object.last_modified }}</th>          
        </tr>

        
</body>
</html>