{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block MAIN_CONTENT %}

<br>
<br>
<h1>Ваш заказ:</h1>
<br>

<h5>Книги в Вашем заказе:</h5>

<table class="table table-hover">
    <tr>
        <th>Книга</th>
        <th>Цена за книгу</th>
        <th>Количество</th>
        <th>Итого</th>
        {% comment %} <th>#</th> {% endcomment %}
    </tr>
    {% for item_in_cart in cart.items.all %}
    <tr>
        <td>{{ item_in_cart.item.title }}</td>
        <td>{{ item_in_cart.price_per_item }}</td>
        <td>
            <div class="mb-3">           
                {{ item_in_cart.quantity }}    
            </div>
        </td>
        <td>{{ item_in_cart.price }}</td>
        {% comment %} <td>#</td> {% endcomment %}
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><b>Итоговая стоимость:</b></td>
        <td colspan="2"><b>{{ cart.order_price }}</b></td>
    </tr>
</table> 

<hr>

<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success">Создать</button>
</form>

{% endblock MAIN_CONTENT %}
