{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block MAIN_CONTENT %}

<br>
<br>
<h5>Все заказанные товары:</h5>
<br>
    <table class="table table-striped">
        <tr>
            <th>Корзина (покупатель)</th>
            <th>Дата создания</th>
            <th>Товар(книга)</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Стоимость</th>
            <th>Удаление</th>

        </tr>
        {% for obj in page_obj %}
        <tr>
            <th>{{ obj.cart }}</th>
            <th>{{ obj.created_at }}</th>
            <th>{{ obj.item.title }}</th>
            <th>{{ obj.quantity }}</th>
            <th>{{ obj.price_per_item }}</th>
            <th>{{ obj.price }}</th>
            <th><button type="button" class="btn btn-outline-danger"><a href="{% url 'orders:item-in-cart-delete' obj.id %}">Удалить товар</a></button></th> 
             
        </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; первый</a>
                <a href="?page={{ page_obj.previous_page_number }}">предыдущий</a>
            {% endif %}
    
            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">следующий</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">последний &raquo;</a>
            {% endif %}
        </span>
    </div>

    


{% endblock MAIN_CONTENT %}